[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pygame = "*"
pyaudio = "*"
numpy = "*"
bokeh = "*"
matplotlib = "*"
scipy = "*"
keyboard = "*"
kivy = {extras = ["full"], version = "*"}
mypy = "*"
types-pyaudio = "*"
flake8 = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
